body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #004C99;
}

#calculator {
    background-color: #003366;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid black 5px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f8f9fa;
}

.btn {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #E0E0E0;
    color: black;
    transition: background-color 0.2s;
    margin-left: 2.5%;
}
.btn:hover {
    background-color: #5a6268;
}

.btn:active {
    background-color: #495057;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}